@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
}

#nav-link {
  border-bottom: 4px solid #00704a;
}

#nav-link.underline {
  border: none;
}

/* for underlining elements in rewards section */
@layer components {
  .underline-primary {
    border-bottom: 5px solid #00704A;
  }
}